section.text-output--wrapper {
  grid-column-start: 2;
  width: 100%;
}

textarea.text-output {
  font-size: 4rem;
  width: 100%;
  background: none;
  color: #fff;
  border: none;
  outline: none;
  min-height: 100vh;
  padding: 40px;
}
