.Circle-circle {
  text-align: center;
  padding: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, #000, #000 100%),
    linear-gradient(135deg, #a5cf6f, #a5cf6f),
    linear-gradient(225deg, #9b51e0, #9b51e0),
    linear-gradient(225deg, #f2994a, #f2994a);
  background-size: 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
}
