@font-face {
  font-family: 'IBM Plex Mono';
  src: url(./assets/ibm-plex-mono.woff), url(./assets/ibm-plex-mono.woff2);
}

@font-face {
  font-family: 'Young Serif';
  src: url(./assets/youngserif.woff), url(./assets/youngserif.woff2);
}

body {
  overflow-x: hidden;
}

main.PL-main {
  position: relative;
  z-index: 1;
  background-color: #fff;
  min-height: 100vh;

  transition: transform 0.5s;

  font-family: 'IBM Plex Mono';
  font-size: 16px;
  line-height: 1.6;

  background-color: #fff;
  color: #2a2a2a;
}

main.PL-main.open {
  transform: translate(240px, 0);
}

p.PL-toggle-nav {
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

p.PL-toggle-nav img {
  margin-right: 1rem;
  vertical-align: -15%;
}
.fade {
  animation: fade 1s;
}

div.PL-mobile-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1rem;

  background-color: #00b98d;
  color: #fff;
  text-align: center;
}

div.PL-mobile-error > h1,
div.PL-mobile-error > h2 {
  font-family: 'Young Serif';
  margin-bottom: 1rem;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 900px) {
  div.PL-mobile-error {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  div.plant-life {
    display: none;
  }
}
