@font-face {
  font-family: 'IBM Plex Mono';
  src: url(./assets/ibm-plex-mono.woff), url(./assets/ibm-plex-mono.woff2);
}

@font-face {
  font-family: 'Young Serif';
  src: url(./assets/youngserif.woff), url(./assets/youngserif.woff2);
}

body {
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  line-height: 1.6;

  background-color: #fff;
  color: #2a2a2a;
}

main {
  position: relative;
  z-index: 1;
  background-color: #fff;
  min-height: 100vh;
}
