div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 10px;
  z-index: 1;
  background-color: #333333;
  transition: background-color 0.5s;
}

div.progress.white {
  background-color: #fff;
}
