div.JB-square {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 50px;
  left: -50px;
}

div.JB-circle {
  width: 100px;
  height: 100px;
  bottom: 50px;
  right: -50px;

  position: absolute;

  border-radius: 50%;
}
