section.control-panel--wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding: 40px;

  background-color: #2a2a2a;
  color: #fff;
  border-right: 1px solid #444;
}

div.control {
  margin-top: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

label span {
  float: right;
  font-style: italic;
}

input[type='range'],
input[type='text'],
select {
  width: 100%;
}

input[type='text'] {
  padding: 0.65rem;

  background-color: #575757;
  border: none;
  color: #fff;
}

label[for='italic'] {
  display: inline;
  margin: 0;
}

div.control:nth-of-type(6) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.control > div.colors {
  display: flex;
}

div.colors p {
  width: 2rem;
  height: 2rem;
  line-height: 1.625rem;
  text-align: center;
  margin: 0 8px 0 0;
  border-radius: 50%;
  border: 2px solid #444;
}
